div#resurrect {
	margin: 2em 0.5em 0em 0.5em;
	font-size: 110%;

	background: url(chrome://resurrect/skin/em-icon.png) 0px 5px no-repeat;
	padding-left: 32px;
}

div#resurrect button {
	margin: 5px 0px;
}

div#resurrect p {
	margin: 5px 0px;
}
