div#errorPageContainer {
	padding-right: 17em;
	max-width: 47em;
}

fieldset#resurrect {
	position: absolute;
	top: 0;
	right: 0;

	background-color: white;

	width: 16em;
	padding: 1em;
	margin: 1em;
	margin-right: 1.5em;

	-moz-border-radius: 10px;
}

fieldset#resurrect legend img {
	vertical-align: middle;
	padding-right: 0.25em;
}

fieldset#resurrect button {
	width: 16em;
}
