body.resurrect div#errorPageContainer {
  padding-right: 22em;
  max-width: 41em;
  min-height: 20em;
}

fieldset#resurrect {
  display: none;
}
body.resurrect fieldset#resurrect {
  display: block;

  position: absolute;
  top: 0;
  right: 0;

  background-color: white;

  width: 14em;
  padding: 1em;
  margin: 1em;
  margin-right: 1.5em;

  -moz-border-radius: 10px;
}

body.resurrect fieldset#resurrect legend img {
  vertical-align: middle;
  padding-right: 0.25em;
}

body.resurrect fieldset#resurrect button {
  width: 14em;
}
body.resurrect fieldset#resurrect button img {
  vertical-align: middle;
  margin-top: -6px;
}

/* Issue #6: Display below this popup. */
body.resurrect fieldset#resurrect {
  z-index: 1;
}
body.resurrect #certificateErrorReportingPanel {
  z-index: 2;
}
